*.log
*.class

.gwt
.settings
.errai

# build
**/target
**/war
**/build
**/out

pict.jpg

# Eclipse
.classpath
.project
.settings
/WebContent
*.launch

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

.DS_Store
*.class
.gradle


# Package Files #
*.war
*.ear
**/ansible
